:root {
  --black: #000;
  --white: #fff;

  --gray1: #333;
  --gray2: #788b99;
  --gray3: #cbcccd;
  --gray4: #667784;
  --gray5: #eff1f3;

  --blue1: #48bbff;
  --blue2: #2eb0fc;
  --blue3: #337ab7;
  --blue4: #23527c;

  --green1: #35c32a;

  --red1: #750000;
}
